{{set . "title" "Buttons"}}
{{template "header.html" .}}

            <h2 class="section-title">Buttons</h2>
            <div class="row">
              <div class="col-12 col-md-6 col-lg-6">
                <div class="card">
                  <div class="card-header">
                    <h4>Buttons</h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="btn">Default</a>
                    <a href="#" class="btn btn-primary">Primary</a>
                    <a href="#" class="btn btn-secondary">Secondary</a>
                    <a href="#" class="btn btn-info">Info</a>
                    <a href="#" class="btn btn-warning">Warning</a>
                    <a href="#" class="btn btn-danger">Danger</a>
                    <a href="#" class="btn btn-dark">Dark</a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-6">
                <div class="card">
                  <div class="card-header">
                    <h4>Buttons <code>.btn-lg</code></h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="btn btn-lg">Default</a>
                    <a href="#" class="btn btn-lg btn-primary">Primary</a>
                    <a href="#" class="btn btn-lg btn-secondary">Secondary</a>
                    <a href="#" class="btn btn-lg btn-info">Info</a>
                    <a href="#" class="btn btn-lg btn-warning">Warning</a>
                    <a href="#" class="btn btn-lg btn-danger">Danger</a>
                    <a href="#" class="btn btn-lg btn-dark">Dark</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-12 col-md-6 col-lg-6">
                <div class="card">
                  <div class="card-header">
                    <h4>Buttons <code>.btn-outline</code></h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="btn btn-outline-primary">Primary</a>
                    <a href="#" class="btn btn-outline-secondary">Secondary</a>
                    <a href="#" class="btn btn-outline-info">Info</a>
                    <a href="#" class="btn btn-outline-warning">Warning</a>
                    <a href="#" class="btn btn-outline-danger">Danger</a>
                    <a href="#" class="btn btn-outline-dark">Dark</a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-6">
                <div class="card">
                  <div class="card-header">
                    <h4>Buttons <code>.btn-sm</code></h4>
                  </div>
                  <div class="card-body">
                    <a href="#" class="btn btn-sm">Default</a>
                    <a href="#" class="btn btn-sm btn-primary">Primary</a>
                    <a href="#" class="btn btn-sm btn-secondary">Secondary</a>
                    <a href="#" class="btn btn-sm btn-info">Info</a>
                    <a href="#" class="btn btn-sm btn-warning">Warning</a>
                    <a href="#" class="btn btn-sm btn-danger">Danger</a>
                    <a href="#" class="btn btn-sm btn-dark">Dark</a>
                  </div>
                </div>
              </div>
            </div>
{{template "footer.html" .}}
