<nav class="site-header sticky-top py-1 ">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="#">
            Accueil
        </a>
        <a class="py-2 d-none d-md-inline-block" href="#">Contacts</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Messages</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Configurations</a>
        <a class="py-2 d-none d-md-inline-block" href="/logout">Logout</a>
    </div>
</nav>
<main role="main" class="container">

    <div class="starter-template">
        <h1>{{ .title }}</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>
